{% extends 'base.html' %}




{% block content %}
<form method="POST">
    {% csrf_token %}
    <h2>Прогресс по привычке "{{ habit.habit }}"</h2>
    
    <ul>
        {% for day in progress_days %}
        <li>
            <label>
                <input type="checkbox" name="day_{{ day.day }}" {% if day.completed %}checked{% endif %}>
                День {{ day.day }}
            </label>
        </li>
        {% endfor %}
    </ul>

    <button type="submit">Сохранить прогресс</button>
</form>

{% if habit.completed %}
    <p>🎉 Привычка завершена! 🎉</p>
{% endif %}
{% endblock %}