{%extends 'base.html'%} {% block title %} {{title}} {%endblock%} 
{%block content%}

    <main>
        <div id="message" class="anime-message" style="display: none;">
            <div class="flex">
                <div class="tittle-notification">
                    <div class="circle">!</div>
                </div>
                <div><h3>NOTIFICATION</h3></div>
            </div>
            <p>Ты поднялся на:</p>
            <p class="level">[ {{ level }}Lvl ]</p>
            <p id="leveledUp" class="leveled-up-text">LEVELED UP!</p>
            <p class="level-up">Ваш уровень повысился!</p>
        </div>
        <div class="task-container">
            <div class="task-content">
                <p class="task-day">Day: {{ task.day }}</p>
                <p class="task-quote-title">Цитата</p>
                <p class="task-quote">{{ task.quote_1 }}</p>
                <p class="task-quote">{{ task.quote_2 }}</p>
                <p class="task-title">Tasks:</p>
                <ul class="task-list">
                    {% for t in task.tasks %}
                        <li>
                            <input type="checkbox" class="task-checkbox" id="task-{{ forloop.counter }}">
                            <label for="task-{{ forloop.counter }}">{{ t }}</label>
                            </br>
                            </br>
                        </li>
                    {% endfor %}
                </ul>
                <p class="task-title">all tasks: {{task.quantity_task}}</p>
            {% if task %}
                <form method="post" action="{% url 'complete_day' task.day %}">
                    {% csrf_token %}
                    <button type="submit">День выполнен!</button>
                </form>
            {% else %}
                <p>Все задания выполнены!</p>
            {% endif %}
             <form method="post" action="{% url 'reset_progress' %}"> <!--времено, чтобы уходить на прошлые задания, потом смотри убери!!! и в url и в views -->
                {% csrf_token %}
                <button type="submit">Начать сначала</button>
            </form>
            </div>
            <div class="task-status">
                <div class="status-indicator 
                    {% if task.status == 'Sports' %} status-red 
                    {% elif task.status == 'Mental growth and recovery' %} status-green 
                    {% elif task.status == 'Relaxation' %} status-blue 
                    {% elif task.status == 'Professional skill-building' %} status-orange 
                    {% elif task.status == 'Theoretical study' %} status-gray 
                    {% elif task.status == 'adaptation' %} status-yellow
                    {% else %} status-black 
                    {% endif %}">
                </div>
                <p class="status-title">Статус дня:</p>
                <span class="status-text">{{ task.get_status_display }}</span>
            </div>
        </div>
    </main>
{%endblock%}

