{%extends 'base.html'%} {% block title %} {{title}} {%endblock%} 
{%block content%}

    

    <main>
        <div id="message" class="anime-message">
            <div class="flex">
                <div class="tittle-notification">
                    <div class="circle">!</div>
                </div>
                <div><h3>NOTIFICATION</h3></div>
            </div>
            <p>Ты поднялся на:</p>
            <p class="level">[ {{ level }}Lvl ]</p>
            <p id="leveledUp" class="leveled-up-text">LEVELED UP!</p>
        </div>
        <div>
            <p>Day: {{ task.day }}</p>
            <p>Цитата</p>
            <p>{{ task.quote_1 }}</p>
            <p>{{ task.quote_2 }}</p>
            <p>Tasks:</p>
                {% for t in task.tasks %}
                    <li>{{ t }}</li>
                    </br>
                {% endfor %}
        </div>
    </main>
{%endblock%}

<div id="message" class="anime-message">
    <div class="tittle-nitification">
        <div class="circle">!</div>
    </div>
    <div><h3>NOTIFICATION</h3></div>
    
    <p>Ты поднялся на:</p>
    <p class="level">[ {{ level }}Lvl ]</p>
    <p id="leveledUp" class="leveled-up-text">LEVELED UP!</p>
</div>