{% extends 'base.html' %}

{% block content %}
<main>
    <div class="profile-container">
        <h2>Профиль пользователя</h2>
        <div class="profile-info">
            <p><strong>Имя:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Дата регистрации:</strong> {{ user.date_joined }}</p>
            
        </div>
        <div class="profile-actions">
            <a href="{% url 'logout' %}" class="btn logout-btn">Выйти</a>
        </div>
    </div>
</main>
{% endblock %}