{% extends 'base.html' %}

{% block content %}
<main>
    <div class="profile-container">
        <h2>Профиль пользователя</h2>
        <div class="profile-info">
            <p><strong>Имя:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Дата регистрации:</strong> {{ user.date_joined }}</p>
            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            <img src="../static/img/Solo_img.jpg" alt="">
        
        </div>
        
    </div>
</main>
{% endblock %}